@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>ChatToSanta is a demo application created by Adam Griffiths to demonstrate Azure Integration with GitHub and LUIS, the text interpretation tool provided by Microsoft Congnative Services.</p>
