@model ChatToSanta.Models.IndexModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <h1>CHAT TO SANTA!</h1>
    <div class="col-md-4 alert-warning">
        @using(@Html.BeginForm())
        {
            @Html.TextBoxFor(x => x.Message);
            <input type="submit" value="Send Message" class="btn btn-default" />
        }
    </div>
    <div class="col-md-4 alert-info">        
        <p>@Model.Answer</p>
    </div>
    <div class="col-md-4">
        <img alt="PictureOfSanta" src="~/Content/SantaImage.jpg" />
    </div>
</div>