@model ChatToSanta.Models.IndexModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h1>CHAT TO SANTA!</h1>
    <div class="col-md-4 alert-warning">
        @using(@Html.BeginForm())
        {
            @Html.TextBoxFor(x => x.Message, new { @Class= "text-info"})
            <input type="submit" value="Send Message" class="btn btn-default" />
        }
    </div>
    <div class="col-md-4 alert-info">        
        <p>@Model.Answer</p>
    </div>
    <div class="col-md-4">
        <img alt="PictureOfSanta" src="~/Content/SantaImage.jpg" />
    </div>
</div>